In [2]:
min([3, 5, 9, 1, -5]), max([3, 5, 9, 1, -5])

(-5, 9)

In [3]:
min([3, 5.0, 9, 1.0, -5]), max([3, 5.0, 9, 1.0, -5])

(-5, 9)

In [5]:
min("abcdefghijklmnopqrstuvwxyz"), max("abcdefghijklmnopqrstuvwxyz")

('a', 'z')

In [7]:
ord("a"), ord("A"), min("aA")

(97, 65, 'A')

In [8]:
min(["Hello", "Pythonista", "and", "welcome", "world"]), max(["Hello", "Pythonista", "and", "welcome", "world"])

('Hello', 'world')

In [12]:
prices = {
    "banana": 1.20,
    "pineapple": 0.89,
    "apple": 1.57,
    "grape": 2.45,
}
min(prices), max(prices), min(prices.values()), max(prices.values()), min(prices.items()), max(prices.items())

('apple', 'pineapple', 0.89, 2.45, ('apple', 1.57), ('pineapple', 0.89))

In [14]:
min(["20", "3", "35", "7"], key=int), max(["20", "3", "35", "7"], key=int)

('3', '35')

In [15]:
min([], default=42)

42

In [16]:
letters = ["A", "B", "C", "X", "Y", "Z"]

In [18]:
min(letters), min([letter.lower() for letter in letters])

('A', 'a')

In [20]:
sample = [4, 5, 7, 6, -12, 4, 42]
sample.remove(min(sample))
sample

[4, 5, 7, 6, 4, 42]

In [21]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[min(row) for row in matrix]

[1, 4, 7]

In [24]:
lower, upper = 10, 100
numbers = [42, 78, 200, -230, 25, 142]

In [25]:
[min(number, upper) for number in numbers]  # add a threshold max

[42, 78, 100, -230, 25, 100]

In [26]:
[max(number, lower) for number in numbers]  # add a threshold min

[42, 78, 200, 10, 25, 142]

In [27]:
# Clipping values to 10 - 100
[max(min(number, upper), lower) for number in numbers]

[42, 78, 100, 10, 25, 100]

In [28]:
[min(max(number, lower), upper) for number in numbers]

[42, 78, 100, 10, 25, 100]

In [30]:
import math
point_pairs = [
    ((12, 5), (9, 4)),
    ((2, 5), (3, 7)),
    ((4, 11), (15, 2))
]
# min(point_pairs, key=lambda points: math.dist(*points))

In [34]:
prices = {
    "banana": 1.20,
    "pineapple": 0.89,
    "apple": 1.57,
    "grape": 2.45,
}
min(prices.items(), key=lambda item: item[1])

('pineapple', 0.89)

In [35]:
# evaluate algorithms execution
import timeit
min(
    timeit.repeat(
        stmt="[i ** 2 for i in range(100)]",
        number=1000,
        repeat=3
    )
)

0.03386830000090413

In [36]:
min(
    timeit.repeat(
        stmt="list(map(lambda i: i ** 2, range(100)))",
        number=1000,
        repeat=3
    )
)

0.04220119999808958

In [37]:
"__lt__" in dir(int) and "__gt__" in dir(int)

True

In [38]:
from datetime import date


class Person:
    def __init__(self, name, birth_date):
        self.name = name
        self.birth_date = date.fromisoformat(birth_date)

    def __repr__(self):
        return (
            f"{type(self).__name__}"
            f"({self.name}, {self.birth_date.isoformat()})"
        )

    def __lt__(self, other):
        return self.birth_date > other.birth_date

    def __gt__(self, other):
        return self.birth_date < other.birth_date

In [40]:
jane = Person("Jane Doe", "2004-08-15")
john = Person("John Doe", "2001-02-07")
jane < john, jane > john

(True, False)

In [50]:
class Number:
    def __init__(self, value):
        self.value = value

    def __str__(self):
        return str(self.value)

    def __lt__(self, other):
        return self.value > other.value

    def __gt__(self, other):
        return self.value < other.value


x = Number(21)
y = Number(42)

In [51]:
min(x, y), x < y, x > y

(<__main__.Number at 0x1fd31b95e08>, False, True)

In [ ]:
from operator import gt, lt


def min_max(*args, operator, key=None, default=None):
    if len(args) == 1:
        try:
            values = list(args[0])  # Also check if the object is iterable
        except TypeError:
            raise TypeError(
                f"{type(args[0]).__name__} object is not iterable"
            ) from None
    else:
        values = args

    if not values:
        if default is None:
            raise ValueError("args is an empty sequence")
        return default

    if key is None:
        keys = values
    else:
        if callable(key):
            keys = [key(value) for value in values]
        else:
            raise TypeError(f"{type(key).__name__} object is not a callable")

    extreme_key, extreme_value = keys[0], values[0]
    for key, value in zip(keys[1:], values[1:]):
        if operator(key, extreme_key):
            extreme_key = key
            extreme_value = value
    return extreme_value


def custom_min(*args, key=None, default=None):
    return min_max(*args, operator=lt, key=key, default=default)


def custom_max(*args, key=None, default=None):
    return min_max(*args, operator=gt, key=key, default=default)